NODE_ENV=local
PORT=3000
URI=localhost:3000 # URI to used in mails and issuer in token
MONGODB_URI="mongodb://localhost:27017/local"
REFRESH_TOKEN_SECRET=REFRESH_TOKEN_SECRET
ACCESS_TOKEN_SECRET=ACCESS_TOKEN_SECRET
MAIL_TOKEN_SECRET=MAIL_TOKEN_SECRET
SALT_ROUND=10
ENC=
SENDER_EMAIL=ashish@yopmail.com
SENDER_PASSWORD=
SUPER_ADMIN_NAME="Ashish Gurjar"
SUPER_ADMIN_EMAIL="admin@yopmail.com"
SUPER_ADMIN_PASSWORD="asdfghjkl"